[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
flask-session = "*"
psycopg2-binary = "*"
cs50 = "*"

[requires]
python_version = "3.8"
