main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

/* Truncate body of notes when displaying notes list in index page */
.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
