main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

/* Truncate body of notes when displaying notes list in index page */
.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Show line breaks when displaying text field on view note page */
.whitespace {
  white-space: pre-wrap;
}

/* Button spacings for tags page */
.button-box {
   text-align:center;
   margin-top:7px;
   margin-bottom:7px;
}
