{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}

{% for i in note %}

<form action="/edited" method="post" style="max-width: 100rem; text-align: center" class="center_div">
  <!-- Title text field -->
  <input class="form-control form-control-lg" type="text" value={{ i["title"] }}>
  <br>

  <!-- Text field with # placeholder -->
  <div>
     <label class="sr-only" for="inlineFormInputGroup">Tag</label>
     <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text">#</div>
       </div>
       <input type="text" class="form-control" value={{ i["tag"] }}>
     </div>
   </div>
  <br>
    <!-- large text field -->
     <div class="form-group">
      <textarea class="form-control" rows="11">{{ i["body"] }}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>

</form>


{% endfor %}



{% endblock %}
