{% extends "layout.html" %}

{% block title %}
    sqltable
{% endblock %}

{% block main %}
    <table class="table table-striped" style="text-align: left">
        <thead>
            <tr>
                <th>Username</th>  <!-- rendered table headings -->
                <th>Password</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
            </tr>
            {% endfor %}

            <tr>
              <td>td4</td>
              <td>td4</td>
              <td>td4</td>
            </tr>

        </tbody>
    </table>

<!-- Card test -->
<div class="card border-primary mb-3" style="max-width: 100rem; text-align:left;">
    <div class="card-header">#git</div>
    <div class="card-body">
      <h4 class="card-title">Most commonly used git commands</h4>
      <p class="card-text">Here are some essential git commands that you will probably use on a daily basis so it is worth knowing these!</p>
      <a href="#" class="card-link">View</a>
      <a href="#" class="card-link text-danger">Delete</a>
    </div>
</div>


{% for user in users %}
<div class="card border-primary mb-3" style="max-width: 100rem; text-align:left;">
    <div class="card-header">{{ user[1] }}</div>
    <div class="card-body">
      <h4 class="card-title">{{ user[2] }}</h4>
      <p class="card-text">{{ user[3] }}</p>
      <a href="#" class="card-link">View</a>
      <a href="#" class="card-link text-danger">Delete</a>
    </div>
</div>
{% endfor %}


{% endblock %}
