{% extends "layout.html" %}

{% block title %}
    Note
{% endblock %}


{% block main %}




{% for i in note %}


<div class="card">
  <div class="card-header">#{{ i["tag"] }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ i["title"] }}</h5>
    <p class="card-text">{{ i["body"] }}</p>

    <!-- Edit and delete buttons -->
    <div class="btn-group">
      <form method="get" action="/edit/{{ i['note_id'] }}">
        <button type="submit" class="btn btn-outline-primary mr-3">Edit</button>
      </form>
      <form method="post" action="/delete/{{ i['note_id'] }}">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
    </div>




  </div>
</div>



{% endfor %}

{% endblock %}
