{% extends "layout.html" %}

{% block title %}
    Note
{% endblock %}


{% block main %}


{% for i in note %}

<div>

<form action="/tag" method="post">
  <button type="submit" class="btn btn-outline-secondary" name="tag" value="{{ i['tag'] }}">#{{ i["tag"] }}</button>
</form>

<br>
<h1>{{ i["title"] }}</h1>
<p class="whitespace">{{ i["body"] }}</p>
</div>

<div class="btn-group">
  <form method="post" action="/edit">
    <button type="submit" class="btn btn-outline-primary mr-3" name="note_id" value="{{ i['note_id'] }}">Edit</button>
  </form>
  <form method="post" action="/delete">
    <button type="submit" class="btn btn-outline-danger" name="note_id" value="{{ i['note_id'] }}">Delete</button>
  </form>
</div>

{% endfor %}

{% endblock %}
