{% extends "layout.html" %}

{% block title %}
    Note
{% endblock %}


{% block main %}


{% for i in note %}

<div>

<button type="button" class="btn btn-outline-secondary">#{{ i["tag"] }}</button>
<br><br>
<h1>{{ i["title"] }}</h1>
<p class="whitespace">{{ i["body"] }}</p>
</div>

<div class="btn-group">
  <form method="get" action="/edit/{{ i['note_id'] }}">
    <button type="submit" class="btn btn-outline-primary mr-3">Edit</button>
  </form>
  <form method="post" action="/delete/{{ i['note_id'] }}">
    <button type="submit" class="btn btn-outline-danger">Delete</button>
  </form>
</div>

{% endfor %}

{% endblock %}
